body {
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(30deg, #7f00ff 40%, #cf9fff 100%);
    /* Voilet, Light Violet */
    background-image: -o-linear-gradient(30deg, #7f00ff 40%, #cf9fff 100%);
    background-image: -moz-linear-gradient(30deg, #7f00ff 40%, #cf9fff 100%);
    background-image: -webkit-linear-gradient(30deg, #7f00ff 40%, #cf9fff 100%);
    background-repeat: no-repeat;
}

.header {
    border: none;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    font-weight: bold;
    font-stretch: expanded;
}

.introduction {
    color: #c0c0c0; /* Silver */
    animation-name: wiggle;
    -o-animation-name: wiggle;
    -moz-animation-name: wiggle;
    -webkit-animation-name: wiggle;

    animation-duration: 2s;
    -o-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-direction: alternate;
    -o-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;

    animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes wiggle {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0.8);
    }
}

.taskCount {
    border-style: dashed;
    border-width: 0.0625em;
    border-color: #00008b; /* Dark Blue */
    border-radius: 0.5em;
    color: #00008b;
    text-align: center;
    padding: 0.5em;
}

.inputForm {
    border-bottom-style: inset;
    border-bottom-width: 0.125em;
    border-bottom-color: #7f00ff;
    border-top-style: inset;
    border-top-width: 0.125em;
    border-top-color: #7f00ff;
    text-align: center;
    box-sizing: border-box;
}

.form {
    padding: 0.5em;
    margin: 1em;
    border: none;
    background-color: #98fb98; /* Pale Green */
    box-shadow: 0.125em 0.125em 0.125em #7f00ff;
    border-radius: 0.5em;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: darkblue;
    cursor: pointer;
}

.formInput {
    font-style: italic;
    min-width: 50vw;
}

.formButton {
    font-weight: bold;
    min-width: 20vw;
}

.listItems {
    box-sizing: border-box;
    border: none;
    background-color: #7f00ff;
    border-bottom-right-radius: 1em;
    padding: 0.5em;
    margin: 1em;
    font-family: cursive;
    font-size: 1.5em;
    font-stretch: expanded;
    color: #ffef00; /* Canary Yellow */
}

.listCheckbox {
    min-width: 2em;
}

.listButton {
    border: none;
    border-left-style: solid;
    border-left-width: 0.125em;
    border-left-color: #ffef00;
    border-bottom-style: solid;
    border-bottom-width: 0.125em;
    border-bottom-color: #ffef00;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    background-color: transparent;
    margin: 0 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.75em;
    color: #ffef00;
    cursor: pointer;
    float: right;
}
